.PlayArea {
    width: 100%;
    flex-grow: 1;
    padding: 20px;
    background-color: #00400a;
    opacity: 0.8;
    background-image:  linear-gradient(135deg, #33663b 25%, transparent 25%), linear-gradient(225deg, #33663b 25%, transparent 25%), linear-gradient(45deg, #33663b 25%, transparent 25%), linear-gradient(315deg, #33663b 25%, #00400a 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
    text-align: center;
}

.Deck-Collection {
    align-items:center;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Hand-Collection {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    background-image:  linear-gradient(#19162a 1px, transparent 1px), linear-gradient(to right, #19162a 1px, #32130e 1px);
    background-size: 20px 20px;
    padding-top: 50px;
    border-radius: 5%;
    border-width: 2px;
    border-color: #19162a;
    border-style: solid;
}

.DialogBox {
    border-radius: 5%;
    border-style: solid;
    border-color: black;
    width: 50%;
    height: 50%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
}