.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  color: white;
  padding: calc(1px);
  padding-left: 2%;
}

.App-footer {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(1px + 1vmin);
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-left: 2%;
}

.footer-text {
  color: white;
  text-decoration: none;
}

.footer-text:hover {
  color: green;
}

.home {
  width: 100%;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  padding: 20px;
  background-color: #00400a;
  opacity: 0.8;
  background-image:  linear-gradient(135deg, #33663b 25%, transparent 25%), linear-gradient(225deg, #33663b 25%, transparent 25%), linear-gradient(45deg, #33663b 25%, transparent 25%), linear-gradient(315deg, #33663b 25%, #00400a 25%);
  background-position:  10px 0, 10px 0, 0 0, 0 0;
  background-size: 10px 10px;
  background-repeat: repeat;
  text-align: center;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.topmenu {
  background: transparent;
  border: 0;
  font-size: calc(10px + 1vmin);
  float: left;
  overflow: hidden;
  padding-top: calc(10px);
}

.title {
  text-decoration: none;
  color: white;
  user-select: none;
  padding: 5px;
}

.title:hover {
  color: green;
}

.toplink {
  text-decoration: none;
  user-select: none;
  color: gray;
}

.toplink:hover {
  color: green;
}

.vl {
  height: calc(15px + 2vmin);
  padding-left: 20px;
  padding-right: 20px;
  user-select: none;
}
