.PlayingCard {
    background-color: whitesmoke;
    margin: 2px;
    border-radius: 4.7%;
    user-select: none;
    text-align: center;
    width: 150px;
    height: 200px;
}
  
.Deck {
    min-width: 150px;
    min-height: 200px;
    background-color: darkgray;
    margin: 5px;
    width: fit-content;
    height: fit-content;
    border-radius: 5%;
    transition-duration: 0.1s;
}

.Deck:hover {
    background-color: lightblue;
}

.hand-card {
    position: relative;
    transition: transform 0.3s ease, z-index 0.3s ease;
    margin-top: 12%;
    margin-bottom: 12%;
}

.hand-card.hovered {
    transform: scale(1.2);
    z-index: 10;
}

.hand {
    height: 380px;
}